body {
    background-color: #ff1919;
    margin: 0;
    padding: 0;
    font-family: "Georgia", serif;
    overflow-x: hidden;
}

body p {
    font-size: 24px;
}

.banner {
    background-color: black;
    padding: 85px 0 55px 0;
}

h1 {
    color: white;
    text-align: center;
    font-size: 128px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.banner span {
    display: block;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 42px;
    padding-top: -50px;
}

.return {
    text-decoration: none;
}

.hov {
    width: 500px;
    display: block;
    margin: 0 auto;
}

div.hov:hover h1 {
    color: blue;
}

div.hov:hover span {
    color: blue;
}

nav {
    background-color: black;
    text-align: center;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0 50px;
    font-size: 28px;
}

nav a:hover {
    color: blue;
}

.container {
    background-color: #ff7f7f; 
    margin: 0 300px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

h2 {
    font-size: 60px;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 50px 0;
}

.line-break-top {
    border-bottom: solid 3px red;
    margin-bottom: 30px;
}

footer {
    background-color: black;
    width: 100%;
}

footer img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 75px 0;
}

/**********HOMEPAGE***********/

a {
    text-decoration: none;
}

.article {
    height: 650px;
    width: 900px;
    background-color: lightgray;
    padding: 50px 0;
    display: block;
    margin: 0 auto 50px auto;
}

.article h4 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-block-start: .5;
    margin-block-end: 0;
    padding: 0 30px;
}

.article h6 {
    text-align: center;
    color: black;
    font-size: 30px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 10px;
}

div.article:hover h4 {
    text-decoration: underline;
}

div.article:hover h6 {
    text-decoration: underline;
}

.article img {
    display: block;
    margin: 0 auto;  
}

.img2 {
    height: 75%;
    width: 75%;
}

.img3 {
    height: 75%;
    width: 75%;
}

.img4 {
    height: 70%;
    width: 70%;
}

.img5 {
    height: 80%;
    width: 80%;
}

/**********ROSTER***********/

.stats-head {
    display: flex;
}

.heading h6{
    font-size: 36px;
}

.player-head {
    width: 260px;
    padding-left: 30px;
    text-align: center;   
}

.position-head, .height-head, .points-head {
    width: 260px;
    padding-left: 45px;
    text-align: center;
}

.stats-head h6 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-bottom: 15px;
}

.break {
    width: 100%;
    height: 5px;
    background-color: black;
}

.data {
    display: flex;
}

.player, .position, .height, .points {
    font-size: 26px;
    width: 260px;
    border-bottom: solid 3px red;
    border-right: solid 3px red;
}

.player {
    padding: 0 20px;
    background-color: rgb(43, 41, 41);
}

.position, .height, .points {
    padding-top: 130px;
    text-align: center;
    width: 300px;
}

.name {
    text-align: center;
    color: white;
}

.points {
    border-right: none; 
}

.player-image {
    margin-top: 30px;
}

.player img {
    background-color: lightgray;
}

/**********COACHES***********/

.coach {
    padding-top: 45px;
}

.coach img {
    display: block;
    margin: 0 auto;
}

.coach-1 {
    height: 70%;
    width: 70%;
}

.coach-text {
    text-align: center;
}

.coach-text h3 {
    font-size: 36px;
    margin-block-end: 0.5em;
}

.coach-text h5 {
    font-size: 28px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.line-break {
    border-bottom: solid 3px red;
}

.assistant-coach {
    padding-top: 75px;
}

.assistant-coach img {
    display: block;
    margin: 0 auto;
}

.coach-2 {
    height: 70%;
    width: 70%;
}

.coach-3 {
    height: 70%;
    width: 70%;
}

.coach-4 {
    height: 70%;
    width: 70%;
}

.coach-5 {
    height: 70%;
    width: 70%;
}

.coach-6 {
    height: 70%;
    width: 70%;
}

.coach-7 {
    height: 70%;
    width: 70%;
}

/**********DRAFT***********/

.selection h3, h4, h5{
    text-align: center;
    font-size: 32px;
}

.selection img {
    display: block;
    margin: 0 auto;
}

.block {
    display: flex;
}

.draft-img1 {
    width: 700px;
}

.draft-img2 {
    width: 800px;
}

.draft-img3 {
    width: 800px;
}

iframe {
    display: block;
    margin: 50px auto 75px auto;
}

/**********Acquisitions***********/

.line-break-top-ac {
    border-bottom: solid 3px red;
}

.signing-img {
    width: 300px;
}

.details {
    padding: 30px;
}

.details-e {
    padding: 10px 30px 30px 30px;
}

.block {
    margin-bottom: 30px;
}

.block-e {
    display: flex;
    margin-bottom: 30px;
}

.signing {
    padding-top: 30px;
}

.link {
    text-decoration: none;
    color: blue;
}

.link:hover {
    color: white;
}

/**********STARTERS***********/

.block-s {
    width: 900px;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.starters-img {
    width: 100%;
}

.text-overlay {
    width: 900px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.815);
    position: absolute;
    visibility: hidden;
    top: 0;
}

.text-overlay-short {
    width: 900px;
    height: 507px;
    background-color: rgba(0, 0, 0, 0.815);
    position: absolute;
    visibility: hidden;
    top: 0;
}

.text-overlay-sb {
    width: 900px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.815);
    position: absolute;
    visibility: hidden;
    top: 0;
}

.block-s:hover .text-overlay, .block-s:hover .text-overlay-short, .block-s:hover .text-overlay-sb {
    visibility: visible;
}

.text-overlay h3 {
    font-size: 72px;
    color: white;
    margin-top: 280px;
    text-align: center;
    text-decoration-line: underline;
}

.text-overlay-short h3 {
    font-size: 72px;
    color: white;
    margin-top: 233px;
    text-align: center;
    text-decoration: underline;  
}

.text-overlay-sb h3 {
    font-size: 72px;
    color: white;
    margin-top: 280px;
    text-align: center;
    text-decoration: underline;  
}

.text-overlay h3:hover {
    color: blue;
}

.text-overlay-short h3:hover {
    color: blue; 
}

.text-overlay-sb h3:hover {
    color: blue;
}

/**********STARTER PlAYER***********/

.back-button {
    padding-top: 50px;
}

.back {
    color: white;
    font-size: 28px;
    text-decoration: underline;
    background-color: black;
    padding: 20px 30px 20px 30px;

}

.back:hover {
    color: blue;
}

.photo-starter {
    display: block;
    margin: 0 auto;
    height: 600px;
}

@media only screen and (max-width: 1800px) {
    .heading h6{
        font-size: 32px;
    }
}

@media only screen and (max-width: 1700px) {
    .heading h6{
        font-size: 28px;
    }

    .position-head {
        padding-left: 70px;
    }
}

@media only screen and (max-width: 1663px) {
    .container {
        margin: 0 250px;
    }

    .block-e {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1620px) {

    .heading h6{
        font-size: 26px;
    }

    .player-head {
        padding-left: 45px;  
    }

    .position-head {
        padding-left: 60px;
    }

    .height-head {
        padding-left: 30px;
    }

}

@media only screen and (max-width: 1600px) {
    .container {
        margin: 0 250px;
    }
}

@media only screen and (max-width: 1500px) {
    .container {
        margin: 0 200px;
    }
}

@media only screen and (max-width: 1400px) {
    nav a {
        font-size: 22px;
    }

    .container {
        margin: 0 150px;
    }
}

@media only screen and (max-width: 1300px) {
    nav a {
        font-size: 20px;
    }

    .container {
        margin: 0 125px;
    }

    .position-head {
        padding-left: 75px;
    }

    .heading h6{
        font-size: 23px;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        margin: 0 100px;
    }
}

@media only screen and (max-width: 1200px) {
    nav a {
        padding: 0 35px;
    }

    .container {
        margin: 0 75px;
    }

    .position-head {
        padding-left: 75px;
    }

    iframe {
        width: 756px;
        height: 425.25px;
    }

}

@media only screen and (max-width: 1100px) {
    .container {
        margin: 0 50px;
    }

    .heading h6{
        font-size: 20px;
    }

    .player-head {
        padding-left: 60px;  
    }

    .position-head {
        padding-left: 75px;
    }

    .height-head {
        padding-left: 30px;
    }

}

@media only screen and (max-width: 1050px) {

    .article {
        height: 520px;
        width: 720px;
    }

    .article h4 {
        font-size: 30px;
    }
    
    .article h6 {
        font-size: 25px;
    }

    .img1 {
        height: 75%;
        width: 75%;
    }
    .signing p {
        font-size: 22px;
    }

    .heading h6{
        font-size: 20px;
    }

    .player-head {
        padding-left: 70px;  
    }

    .position-head {
        padding-left: 80px;
    }

    .height-head {
        padding-left: 30px;
    }

    .block-s {
        width: 780px;
    }

    .text-overlay {
        width: 780px;
        height: 520px;
    }
    
    .text-overlay-short {
        width: 780px;
        height: 440px;
    }
    
    .text-overlay-sb {
        width: 780px;
        height: 520px;
    }

    .text-overlay h3 {
        font-size: 60px;
        margin-top: 235px;
    }
    
    .text-overlay-short h3 {
        font-size: 60px;
        margin-top: 200px;
    }
    
    .text-overlay-sb h3 {
        font-size: 60px;
        margin-top: 235px;
    }
    
    .photo-starter {
        height: 500px;
    }

    iframe {
        width: 756px;
        height: 425.25px;
    }

}

@media only screen and (max-width: 1000px) {
    nav a {
        padding: 0 22px;
        font-size: 16.5px;
    }

    .player-head {
        padding-left: 70px;  
    }

    .position-head {
        padding-left: 100px;
    }

    .height-head {
        padding-left: 30px;
    }

}
